body{
    background-color: lightskyblue;
}
.row{
    margin-bottom: 20px;
    padding: 20px;
    background-color: e6e6e6;
}
.col{
    background-color: e6e6e6; 
}
.col-4{
    background-color: e6e6e6; 
}
.col-8{
    background-color: e6e6e6; 
}
.container{
    margin-top:20px;
    border-radius: 15px;
    margin-bottom:20px;
}
