html {
    scroll-behavior: smooth;
}

.col {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;
    border-radius:20px;
}

body{
    background-color: #01F6FE;
}
.col{
    background-color: #e6e6e6;
}
.container{
    margin-top:20px;
    border-radius: 15px;
}
